@charset "UTF-8";


html {
    scroll-behavior: smooth;
}



body {
    font-family: "Darker Grotesque";
    height: 100%;
    font-size: 18px;
    position: absolute;
    left: 6%;
    right: 6%;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: justify;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

#question{
    text-align: justify;
}

.col2{
    width: 48%;
    margin: 5px;
}

.box {
    position: relative;
    font-family: courier;
    width: 30%; 
    min-height: 50px;
    max-height: 200px;
    margin: 8px;
    padding: 8px;
    text-align: left;
    background-color: white;
    border-radius: 10px;
    border: 1px solid #ccc;
    white-space: pre-wrap;
    overflow: auto;
}


.label {
  color: green;
  font-size: 16px;
  font-weight: 600;
}


.button-37 {
    background-color: #13aa52;
    border: 1px solid;
    border-radius: 4px;
    color: #fff;
    width: 320px;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 25px;
}

.button-37:hover {
    transform: translateY(-2px);
}


.keyword{
    color:#08a4a7;
    font-size: 18px;
}



.ranking-list {
  height: 350px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  overflow: auto;
}

.ranking-list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 10px;
  padding: 10px 15px;
  transition: transform 0.2s;
}

.ranking-list li:hover {
  transform: scale(1.02);
  background-color: #eef6ff;
}

.ranking-list .rank {
  background-color: #007bff;
  color: #fff;
  font-weight: bold;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ranking-list .name {
  font-size: 16px;
  font-weight: bold;
  color: #555;
}

.ranking-list .score {
  font-size: 14px;
  color: #777;
}


.book a:link {
  color: red;
}
.book a:visited {
  color: red;
}
.book a:hover {
  color: green;
}
    
* {
  box-sizing: border-box;
}


input[type='text'] {
  width: 100%;
  padding: 10px;
  margin-bottom: 6px;
  border: 1px solid #ccc;
  outline: none;
}

textarea {
  font-size: 18px;
  font-family: courier;
  width: 100%;
  height: 138px;
  padding: 10px;
  resize: none;
  outline: none;
  margin-bottom: 6px;
}


span{
  font-size: 14px;
  color: green;
}



@media screen and (max-width: 768px) {

    body {
        left: 6px;
        right: 6px;
    }

    .box {
        width: 100%;
    }

    .col2{
        width: 100%;
    }

    #answerList{
        min-height: 200px;
    }
        
}
